{% extends 'IndexIntegration.html' %}

{% block content %}
<div class="menu">
    <a href="{% url 'addClient' %}">Ajouter un client</a>
    <a href="{% url 'manageClient' %}">Gérer mes clients</a>
</div>

<div class="desc">
    Liste des clients : <br />
    {% if clients.client_nom|length > 0 %}
        {% for c in clients %}
            <a href="{% url 'detailClient' pk=c.pk %}">{{ c.client_nom }}</a><br />
        {% endfor %}
    {% else %}
        {{ clients }}
    {% endif %}
</div>
{% endblock %}