footer {
    padding: 0;
}
footer .footer-top {
    padding: 20px 0 20px 0;
}
#wrapper section {
    padding: 140px 0 50px 0;
}

#subscribe {
    width: 75%;
    padding: 0 0 20px 0;
    margin: auto;
    font-family: "Roboto", sans-serif;
}
#subscribe .lineForm {
    overflow: auto;
    margin-bottom: 30px;
}
#subscribe .containForm {
    display: block;
    float: left;
    margin-right: 40px;
}
#subscribe label {
    display: block;

    text-align: left;
    margin-right: 10px;
    color: #6262a0;
    font-size: 16px;
    margin: 0;
}

#subscribe input[type=text],
#subscribe input[type=password],
#subscribe input[type=email] {
    border: 1px solid #6262a0;
    width: 250px;
    height: 25px;
    color: #333;
}
#subscribe input[type=submit] {
    display: block;
    margin-top: 20px;
    width: 250px;
    height: 60px;
    background-color: #664ffa;
    color: #FFF;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    float: left;
    clear: both;
}

#id_societe {
    width: 200px !important;
}
#id_email, #id_emailConfirm {
    width: 350px !important;
}
#id_cp, #id_ville {
    width: 120px !important;
}
#id_pathlogo {
    min-width: 450px !important;
}
#id_username, #id_password, #id_passwordConfirm {
    width: 220px !important;
}