#subscribe {
    width: 600px;
    border: 1px solid black;
    padding: 0 0 20px 0;
    font-family: "Roboto", sans-serif;
}
#subscribe label {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    color: #6262a0;
    font-size: 16px;
    line-height: 25px;
}

#subscribe input[type=text],
#subscribe input[type=password],
#subscribe textarea {
    border: 1px solid #6262a0;
    width: 250px;
    height: 25px;
}
#subscribe input[type=submit] {
    margin-left: 110px;
    margin-top: 20px;
    width: 250px;
    height: 60px;
    background-color: #664ffa;
    color: #FFF;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}