{% extends 'indexIntegration.html' %}

{% block content %}

    <div class="row clearfix">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 offset-lg-2">
            <div class="heading heading-1 text--center mb-40">
                <h2>Inscription</h2>
            </div>

            <form method='POST' id="subscribe">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Enregistrer" />
            </form>
        </div>
    </div>
</div>

{% endblock %}